matplotlib>=3.7
numpy>=1.24
scipy>=1.6,<1.13
pandas>=2
seaborn>=0.13.2
statsmodels>=0.14.1
arviz


bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine

pytest

# docs
myst-parser
sphinx_rtd_theme
